* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
    
}
ul{
    margin-left: 60%;
    cursor: pointer;
    color: grey;
}
li:hover{
    color: white;
}

input{
    height: 50px;
    width: 50%;
    margin-left: 20%;
    border: 2px solid black;
    margin-top: 20px;
    padding: 5px;
}
.products{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.box{
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    width: 350px;
}
.box :hover{
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: black;
    color: white;
}
.about{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    }